* {
  font-family: Arial;
  /*padding: 0.25em;
  margin: 0.25em;*/
}

header {
  background-color: chocolate;
  flex: 0 50px;
}
body {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

table,
th,
td {
  border: 2px solid black;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.25em;
  flex-direction: column;
  border: 8px solid maroon;
}

footer {
  background-color: crimson;
  flex: 0;
}
