* {
  font-family: Arial;
  /*padding: 0.25em;
  margin: 0.25em;*/
}

header {
  background-color: chocolate;
}
body {
  background-color: cadetblue;
}

table,
th,
td {
  border: 2px solid black;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  gap: 0.25em;
  flex-direction: column;
  border: 3px solid maroon;
}

footer {
  background-color: crimson;
}
