* {
  font-family: Arial;
  /*padding: 0.25em;
  margin: 0.25em;*/
}

header {
  background-color: chocolate;
  flex: 0 50px;
}
body {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

a:link,
a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: goldenrod;
}

main {
  flex: 1;
}

table,
tr,
th {
  border: 2px solid black;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.25em;
  flex-direction: column;
  border: 8px solid maroon;
}

img {
  width: "300px";
  height: "300px";
}

footer {
  background-color: crimson;
  color: white;
  flex: 0;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
